.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.featuredItem {
  flex: 1;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 4px 1px 15px 4px rgba(0, 0, 0, 0.22);
  box-shadow: 4px 1px 15px 4px rgba(0, 0, 0, 0.22);
}

.featuredTitle {
  font-size: 20px;
}

.featuredContainer {
  margin: 10px 0px;
  display: flex;
  align-items: center;
}

.featuredNumber {
  font-size: 30px;
  font-weight: 600;
}

.featuredRate {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.featuredIcon {
  font-size: 14px;
  margin-left: 5px;
  color: green;
}

.negative {
  color: red;
}

.featuredSub {
  font-size: 15px;
  color: gray;
}

@media only screen and (max-width: 600px) {
  .featured {
    display: grid;
    grid-template-columns: 1fr;
  }

  .featuredItem {
    margin-top: 20px;
  }
}
