.widgetLg {
  flex: 2;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 1px 15px 4px rgba(0, 0, 0, 0.22);
  box-shadow: 4px 1px 15px 4px rgba(0, 0, 0, 0.22);
  overflow-x: auto;
}

.widgetLgTitle {
  font-size: 22px;
  font-weight: 600;
}

.widgetLgImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.widgetLgCategory,
.widgetLgEmotion {
  font-weight: 300;
}

.widgetLgTable {
  width: 100%;
  border-spacing: 20px;
}

.widgetLgUser {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.widgetLgTh {
  text-align: left;
}

.widgetLgButton {
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
}

.widgetLgButton.Approved {
  background-color: #e5faf2;
  color: #3bb077;
}

.widgetLgButton.Declined {
  background-color: #fff0f1;
  color: #d95087;
}

.widgetLgButton.Pending {
  background-color: #ebf1fe;
  color: #2a7ade;
}

@media only screen and (max-width: 768px) {
  .widgetLg {
    margin: 20px;
    padding: 20px;
    overflow-x: auto;
  }
}
